<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <span class="title"><b>Toronto Waste Lookup</b></span>
  </div>
  <div class="content">
    <div class="top">
      <div class="search">
        <app-search-box (searchEvent)="search($event)" (clear)="clear()" ></app-search-box>
      </div>
      <div class="result">
        <app-item-table [items]="items" (saveToFav)="saveToFav($event)" (removeFromFav)="removeFromFav($event)"></app-item-table>
      </div>
    </div>
    <div class="bottom">
      <div class="title">
        <span>Favorites ({{favorites.length}})</span>
      </div>
      <app-item-table [items]="favorites" (removeFromFav)="removeFromFav($event)"></app-item-table>
    </div>
  </div>
</div>

